/* Egen custom CSS här */
#canvas {
    width: 100%;
    height: 100%;
    display: block;
}

table, th, td {
    border: none !important;
}

.col {
    background-color: silver;
    border: solid darkgrey;
    border-width: 2px;
    height: 150px;
    
}


/* CURSOR TEST */
/* .cursor {
    width: 2em;
    height: 2em;
    position: absolute;
} */


/* Third container:brush settings */
#notFittingNumber {
    display: none;
}

#brushOutput {
    color: steelblue;
    font-family: "Coral Pixels", serif;
    font-weight: 400;
    font-style: normal;
        
}

#quantity {
    font-family: "Coral Pixels", serif;
    font-weight: 400;
    font-style: normal;
        
}

.form-label {
    font-family: "Rubik Iso", system-ui;
    font-weight: 400;
    font-style: normal;
        
}

#notFittingNumber {
    color: darkred;
    font-family: "Coral Pixels", serif;
    font-weight: 400;
    font-style: normal;
    animation: glow 1s ease-in-out infinite alternate;
}


/* Animation */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}




/* buttons! */
#hotpinkBtn {
    background-color: hotpink;
    color: black;
    text-shadow: 2px 2px deeppink;
    
}

/* .active {
    background: #32bacf;
} */

#blackBtn {
    background-color: black;
    color: white;
    text-shadow: 2px 2px darkgrey;
}

#whiteBtn {
    background-color: white;
    color: black;
    text-shadow: 2px 2px grey;
}

#redBtn {
    background-color: red;
    color: black;
    text-shadow: 2px 2px firebrick;
}

#yellowBtn {
    background-color: yellow;
    color: black;
    font-size: 13px;
    text-shadow: 2px 2px goldenrod;
   
}

#greenBtn {
    background-color: green;
    color: black;
    text-shadow: 2px 2px darkseagreen;
}

#orangeBtn {
    background-color: orange;
    color: black;
    font-size: 13px;
    text-shadow: 2px 2px darkorange;
}

#greyBtn {
    background-color: grey;
    color: black;
    text-shadow: 2px 2px darkgray;
}

#purpleBtn {
    background-color: purple;
    color: black;
    font-size: 13px;
    text-shadow: 2px 2px rebeccapurple;
}

#brownBtn {
    background-color: brown;
    color: black;
    text-shadow: 2px 2px sandybrown;
}

#beigeBtn {
    background-color: beige;
    color: black;
    text-shadow: 2px 2px peachpuff;
}

#bratBtn {
    background-color: #8ACE00;
    color: black;
    font-family: "Arial";
}